@import "../utilities/variables.scss";

h3 
{
    color: $color-inicio;
    font-family: $font-inicio;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

ol {
    li {
        color: $color-inicio;
        font-family: $font-inicio;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        padding: 1rem;
    }
}