footer
{ background: rgb(43,193,66);
    background: radial-gradient(circle, rgba(43,193,66,1) 60%, rgba(32,89,26,0.6306897759103641) 100%);
    border-top: 2px solid  rgb(146, 190, 69);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 10px;
    animation: scaleFooter 5s ease-in-out infinite;
   
    
    
h4 {
    font-size: 1.5rem;
    color: black;
    font-family: $font-inicio;
    margin-bottom: 15px;
}


.icono-instagram {
    width: 10px;
    height: auto;
    margin: 10px;
    flex-direction: row;
    cursor: pointer;
    
   }
       
   .icono-facebook {
    @extend .icono-instagram

   }
}

@keyframes scaleFooter {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2); 
    }
    100% {
      transform: scale(1);
    }
  }
  
  @media (max-width: 768px) {
    footer h4 {
        font-size: 1rem;
        color: black;
        
    }

    footer .icono-instagram,
    footer .icono-facebook {
        width: 20px;
        height: auto;
        margin: 5px;
        
    }
}

@media (min-width: 768px) {
    footer h4 {
        font-size: 1.5rem;
        color: black;
        
    }

    footer .icono-instagram,
    footer .icono-facebook {
        width: 10px;
        height: auto;
        margin: 10px;
        
    }
}
