@import "../utilities/variables.scss";


h3 
{
    color: $color-inicio;
    font-family: $font-inicio;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

h4 {
    color: darkolivegreen;
    font-family: $font-inicio;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

p {
    color: $color-inicio;
    font-family: $font-inicio;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h5 {
    @extend h4
}

@media (max-width: 768px) {
    h3 {
        font-size: 2rem;
        color: $color-inicio;
        
    }

    h4, h5 {
        font-size: 1.5rem;
        color: darkolivegreen;
        
    }

    p {
        font-size: 1rem;
        color: $color-inicio;
        
    }
}


@media (min-width: 768px) {
    h3 {
        font-size: 3rem;
        color: $color-inicio;
        
    }

    h4, h5 {
        font-size: 2rem;
        color: darkolivegreen;
        
    }

    p {
        font-size: 1.5rem;
        color: $color-inicio;
        
    }
}
