@import "../utilities/variables.scss";


header {
    background-color: rgb(146, 190, 69);
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //gradiente lineal
    background-image:  linear-gradient (to right, white, rgb(146, 190, 69));



    .Logo {
        img {
            max-width: 120px;
            height: auto;
            margin: 5px;
        }
    }

    ul {
        list-style-type: none;
        display: flex;
        align-items: center;

    li {    
        margin: 15px;
        

    }

        a {
            color: rgb(15, 13, 13);
        text-decoration: none;
        font-size: 1.5rem;
        font-family: 'Josefin Sans', sans-serif;
        margin-right: 5rem;
        //transition
        transition: 1s;
        &:hover {
            font-size: 2rem;

        }
        
    }
    }

    @media (max-width: 768px) {
        header {
            flex-direction: column;
        }
    
        .Logo img {
            max-width: 50px;
            margin: 0;
        }
    
        nav ul {
            flex-direction: column;
            text-align: center;
            padding: 4px;
        }
    
        nav li {
            margin: 4px;
        }
    }

    @media (min-width: 768px) {
        header {
            flex-direction: row;
        }
    
        .Logo img {
            max-width: 120px;
            margin: 5px;
        }
    
        nav ul {
            flex-direction: row;
            text-align: left;
            padding: 0;
        }
    
        nav li {
            margin: 15px;
        }
    }
    

}
