@import "../utilities/variables.scss"; 

.principal-uno {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;



    video {
        max-width: 100%;
        height: auto;
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
    

    p {
        color: $color-inicio;
        font-size: 2rem;
        font-family: $font-inicio;
        text-align: center;
        
    }

    .imagen-uno {
        max-width: 100%;
        height: auto;
        max-width: 800px;
        padding-top: 2rem;
        padding-bottom: 1rem;
        text-align: center;
        display: flex;
        justify-content: center;
        
    }

        p {
            color: $color-inicio;
            font-size: 2rem;
            font-family: $font-inicio;
            text-align: center;
            
        }


.imagen-dos {
    @extend .imagen-uno;
    
} 

    p {
        color: $color-inicio;
        font-size: 1.5rem;
        font-family: $font-inicio;
        text-align: center;
      

        span {
            font-weight: bold;
            color: rgb(76, 232, 29);
        }
    }
}

.principal-uno {
    @media (max-width: 768px) {
        
        video {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        .imagen-uno,
        .imagen-dos {
            max-width: 100%;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        p {
            font-size: 1.3rem;
        }
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        
        p {
            font-size: 1.7rem;
        }
    }
}


